#calculator {
	background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	box-shadow: 0 4px #009de4, 0 10px 15px rgba(0, 0, 0, 0.2);
}

.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 26px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	transition: all 0.2s ease;
}

.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0 4px #9da853;
	color: #888e5f;
}

.top span.clear {
	background: #ff9fa8;
	box-shadow: 0 4px #ff7c87;
	color: white;
}

/* Some hover effects */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0 4px #6b54d3;
	color: white;
}

.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0 4px #d3545d;
	color: white;
}