#calculator {
	background: #2A2C31;
	background: linear-gradient(#2A2C31, #25272c);
	box-shadow: 0 4px #212327, 0 10px 15px rgba(0, 0, 0, 0.2);
}

.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0 4px #e5e5e5;
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 26px;
	text-align: center;
	
	user-select: none;
	
	transition: all 0.2s ease;
}

.keys span.operator {
	background: #FFFEDF;
	box-shadow: 0 4px #e5e4c8;
	margin-right: 0;
}

.keys span.eval {
	background: #5A2E2E;
	box-shadow: 0 4px #512929;
	color: white;
}

.top span.clear {
	background: #DFBA69;
	box-shadow: 0 4px #c8a75e;
	color: white;
}

.keys span:hover {
	background: #698edf;
	box-shadow: 0 4px #5e7fc8;
	color: white;
}

.keys span.eval:hover {
	background: #512929;
	box-shadow: 0 4px #482424;
	color: #ffffff;
}

.top span.clear:hover {
	background: #c8a75e;
	box-shadow: 0 4px #b29454;
	color: white;
}